<ion-header>
 
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="container">
    <div class="page-header">
      <h3>Welcome to</h3>
      <h1 class="herbelist" style="font-weight: 800; font-size: 40px;">HERB-E-LIST</h1>
    </div>

    <div class="logo">
        <ion-icon name="leaf"></ion-icon>
        <ion-icon name="medical"></ion-icon>
        <ion-icon name="layers"></ion-icon>
    </div>

    <div class="button-container">
      <ion-button expand="block" class="main-button" routerLink="/tabs" routerDirection="forward">Browse Products</ion-button>
      <ion-button expand="block" color="dark" fill="clear" routerLink="/login" routerDirection="forward">Log in</ion-button>
    </div>
  </div>
</ion-content>