.search {
    margin-bottom: 20px;

    ion-item {
        border-radius: 10px;
        box-shadow: 0px 13px 30px 0px rgba(0, 0, 0, 0.09);
        padding: 8px;

        ion-icon {
            margin-right: 16px;
        }

        ion-input {
            padding-left: 10px !important;
            border-left: 1px solid #F4F4F4;
        }
    }
}

ion-grid {
    margin-bottom: 65px;
}
.grid {

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;

    h2 {
        margin: 0 0 0 16px;
        color: #434343;
    }

    p {
        margin: 0 16px 0 0;
        color: #656565;
    }
}

ion-card {
    margin: 0px 10px 20px 10px !important;
}

ion-card-title {
    font-size: 20px !important;
}

.productImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    width: 100%;
    object-fit: cover;
}
}