// This will remove iOS Header Line
ion-toolbar {
    --border-width: 0 !important;
}

// Removing Android Header Line
.header-md::after {
    background: none !important;
}

.container h1 {
    margin-top: 0;
}

.form-container {
    margin-top: 48px;

    ion-item {
        --padding-start: 0;
        --border-color: #DADADA;
    }

    ion-item ion-label {
        color: #A6A6A6;
    }

    ion-item ion-icon {
        margin-top: auto;
        color: #c6cbd4;
    }

    ion-button {
        margin-top: 48px;
    }
}