<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/welcome" routerDirection="back">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding">

    <form class="form-container" [formGroup]="formData" (ngSubmit)="onSubmit()">
      <ion-list>
        <ion-item>
          <ion-input label="Email" labelPlacement="floating" formControlName="email" [(ngModel)]="EmailAdmin"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" label="Password" labelPlacement="floating" formControlName="password" [(ngModel)]="PassAdmin"></ion-input>
        </ion-item>
      </ion-list>

      <div>
        <ion-button type="submit" [disabled]="!formData.valid" expand="block" class="main-button" routerLink="/inventory" routerDirection="forward">Log-in</ion-button>
      </div>
      <div *ngIf="EmailAdmin === 'admin' && PassAdmin === 'password'">
        <ion-button type="submit" [disabled]="!adminData.valid" expand="block" fill="outline" routerLink="/admin-home" routerDirection="forward">Admin</ion-button>
      </div>
    </form>

  </div>
</ion-content>