<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Admin</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-searchbar animated="true" placeholder="Search your products"></ion-searchbar>

<ion-grid class="ion-padding">
  <ion-row>
    <ion-col size="12" *ngFor="let product of products" style="padding: 0x;">
      <ion-card button routerLink="/inventory-details" routerDirection="forward" (click)="navigateWithObj(product)" style="margin: 0px 0px 5px; padding: 0px;">
        <ion-item lines="none" style="margin: 0px; padding: 0px;">
            <ion-thumbnail slot="start">
              <img class="thumbnail" style="border-radius: 7px;" alt="{{product.ProdName}}" src="http://localhost/herb-e-list-v5/catalog-v5/src/assets/productPics/{{product.ProductPic}}"/>
            </ion-thumbnail>
            <ion-label>
              <h1>{{product.ProdName}}</h1>
              <h3 style="font-size: 10px;">{{product.ProdBrand}} | {{product.Dosage}} | Php {{product.Price}}</h3>
            </ion-label>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" fill="outline" routerLink="/add-product" routerDirection="forward" (click)="addingProduct('admin')"><ion-icon name="add"></ion-icon>Add Product</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
